extends ../layout/index
block contenido
        div.py-10
            h1.text-center.font-extrabold.my-10.text-4xl.text-p_yellow Bienes 
                span.font-normal.text-black Raíces
            h2.text-center.font-extrabold.text-2xl= page
            if errors
                div(class="max-w-md mx-auto my-10")
                    each error in errors 
                        div(class="bg-red text-white p-3 rounded-md shadow-lg mb-3 animate__animated animate__fadeIn relative") 
                            span(class="uppercase text-xs font-bold")= error.msg
                            button(class="text-white absolute top-2 right-2 cursor-pointer" onclick="this.parentElement.remove()") &times;
                            
            .mt-8.mx-auto.max-w-md
                .bg-white.py-8.px-4.shadow
                    form(method="POST").space-y-5.px-6
                        input(type="hidden" name="_csrf" value= csrfToken)
                        div
                            label.block.text-sm.uppercase.text-black.mb-2.font-bold Ingresa tu Nueva Contraseña: 
                            input#password.w-full.px-3.py-2.border-2.border-black.rounded-md(type="password" placeholder="Minimo de 8 caracteres" name="new_password")
                        div
                            label.block.text-sm.uppercase.text-black.mb-2.font-bold Confirmar tu Nueva Contraseña: 
                            input#password2.w-full.px-3.py-2.border-2.border-balck.rounded-md(type="password" placeholder="Que sea igual a la anterior " name="new_password2")
                        input(class="w-full bg-p_yellow hover:bg-p_blue-200 text-white font-bold py-3 cursor-pointer" type="submit" value="Actualizar Contraseña")
